.site .wrapper {
	display: block;
	min-height: 100%;
	padding: 0 2em;

	@include breakpoint(xs) {
		width: 95%;
	}

	@include breakpoint(sm) {
		width: 85%;
	}

	@include breakpoint(md) {
		width: 90%;
	}

	@include breakpoint(lg) {
		width: 100%;
	}

	@include center-block;
}

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.entry-content {
	padding-bottom: 2rem;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Article list
--------------------------------------------- */
.site-main {
}

#post-grid {
	position: relative;
	max-width: 100%;
	columns: 5;
	column-gap: 20px;
	//column-rule: 1px solid var(--border-color);
}

/* clearfix */
#post-grid:after {
	content: "";
	display: block;
	clear: both;
}

#post-grid .post-card {
	display: block;
	margin: 0 0 -1px -1px;
	padding: 1em;
	margin-bottom: 2em;
}

.post-card > article {
	break-inside: avoid-column;
}

.post-card > article > a:first-child {
	display: block;
	break-before: column;
}

.post-card article h2.entry-title {
	font-size: 1.46484375rem;
	margin: 0;
	border-bottom: 1px solid var(--border-color);
}

.post-card article h2 a {
	display: block;
	padding-bottom: 0.5em;
	text-decoration: none;

	background: -webkit-linear-gradient(
		-45deg,
		var(--primary-color),
		var(--secondary-color)
	);
	background-clip: text;
	color: var(--primary-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.35ms ease-in-out;
}

.post-card article h2 a:hover,
.post-card article h2 a:focus {
	color: var(--secondary-color);
	background: -webkit-linear-gradient(
		-45deg,
		var(--secondary-color),
		var(--primary-color)
	);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.post-card article .post-meta {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.post-card article .post-meta a {
	font-size: 0.66em;
}

.post-card article .post-meta a,
.post-card article .posted-by p a {
	text-transform: uppercase;
	text-decoration: none;
}

.post-card article .posted-by {
	display: block;
}

.post-card article .posted-by p {
	text-align: center;
}

.post-card > article p {
	break-inside: avoid-column;
}

section main article {
	margin: 2rem;
}
