.site .wrapper {
  display: block;
  position: relative;
  min-height: 100%;

  @include breakpoint(xs) {
    width: 95%;
  }

  @include breakpoint(sm) {
    width: 85%;
  }

  @include breakpoint(md) {
    width: 960px;
  }

  @include breakpoint(lg) {
    width: 1200px;
  }

  @include breakpoint(xl) {
    width: 1280px;
  }

  @include center-block;
}

.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

.entry-content {
  padding-bottom: 2rem;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Article list
--------------------------------------------- */
#grid {
  position: relative;
  width: 100%;
}

/* clearfix */
#grid::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

#grid .cell,
#grid .cell.grid-size-large,
#grid .grid-sizer {
  display: block;
  margin: 0;
  padding: 1em;
  margin-bottom: 2em;

  width: 100%;
  @include breakpoint(sm) {
    width: 50%;
  }
  @include breakpoint(md) {
    width: 25%;
  }
}

#grid .cell.grid-size-large {
  width: 100%;
  @include breakpoint(sm) {
    width: 50%;
  }
}

.cell article h2.entry-title {
  font-size: 1.46484375rem;
  margin: 0;
  border-bottom: 1px solid var(--border-color);
}

.cell:nth-child(n + 0) article h2 a {
  font-family: $font-stack-1;
}

.cell:nth-child(n + 1) article h2 a {
  font-family: $font-stack-2;
}

.cell:nth-child(n + 2) article h2 a {
  font-family: $font-stack-3;
}

.cell:nth-child(n + 3) article h2 a {
  font-family: $font-stack-4;
}

.cell:nth-child(n + 4) article h2 a {
  font-family: $font-stack-5;
}

.cell:nth-child(n + 5) article h2 a {
  font-family: $font-stack-6;
}

.cell:nth-child(n + 6) article h2 a {
  font-family: $font-stack-7;
}

.cell article h2 a {
  display: block;
  padding-bottom: 0.5em;
  text-decoration: none;

  background: -webkit-linear-gradient(
    -45deg,
    var(--text-color),
    var(--text-color)
  );
  background-clip: text;
  color: var(--primary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.35ms ease-in-out;
}

.cell article h2 a:hover,
.cell article h2 a:focus {
  color: var(--secondary-color);
  background: -webkit-linear-gradient(
    -45deg,
    var(--secondary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cell article .post-meta {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.cell article .post-meta a {
  font-size: 0.66em;
}

.cell article .post-meta a,
.cell article .posted-by p a {
  text-transform: uppercase;
  text-decoration: none;
}

.cell article .posted-by {
  display: block;
}

.cell > article p {
  break-inside: avoid-column;
}

section main article {
  margin: 2rem;
}
