header#masthead.site-header .wrapper .main-navigation {
	/** Mobile version */
	display: none;
	position: absolute;
	top: 3em;
	right: 1.5em;
	width: auto;
	height: auto;
	z-index: 99999;
	background: var(--bg-color);
	box-shadow: 0 0 0.5em 0.15em #00000015;

	/** Laptop desktop */
	@include breakpoint(md) {
		display: block;
		position: relative;
		top: 0;
		right: auto;
		box-shadow: none;
	}
}

header#masthead.site-header .wrapper .main-navigation.toggled {
	display: block;
}

header#masthead.site-header .wrapper .main-navigation ul {
	/** Mobile version */
	list-style-type: none;
	margin: 0;
	@include breakpoint(md) {
		display: flex;
		flex-flow: row wrap;
	}
}

header#masthead.site-header .wrapper .main-navigation ul li::before,
header#masthead.site-header .wrapper .main-navigation ul li::after {
	content: "";
	display: table;
	clear: both;
	float: none;
}

@include breakpoint(md) {
	.main-navigation ul > li {
		flex-basis: 24.5%;
		flex-basis: calc(25% - 0.5em);
		border: none;
		margin: 0 0.5em 0 0;
	}
}

/** Regular page separator on mobile */
.main-navigation ul > li.current-menu-item a {
	border-top: 1px solid var(--border-color);
	@include breakpoint(md) {
		border: none;
	}
}

header#masthead.site-header .wrapper .main-navigation ul li {
	a {
		display: block;
		padding: 0.5em 1em;
		text-decoration: none;
		text-align: right;
		color: var(--text-color);
		@include border(var(--border-color), var(--border-color), "bottom", 2px);

		@include breakpoint(md) {
			text-align: left;
		}
	}
	a:hover,
	&.current-menu-item a {
		@include border(
			var(--primary-color),
			var(--secondary-color),
			"bottom",
			2px
		);
		color: var(--secondary-color);
	}
}

header#masthead.site-header button.menu-toggle {
	display: block;
	position: absolute;
	top: 1em;
	right: 1.5em;
	border: none;
	@include breakpoint(md) {
		display: none;
	}
}
