:root[data-theme="light"] {
	--primary-color: #04b565;
	--secondary-color: #0615bb;
	--text-color: #111111;
	--bg-color: #feffff;
	--component-bg-color: #f7f4f4;
	--border-color: #cccccc;
}

:root[data-theme="dark"] {
	--primary-color: #740abf;
	--secondary-color: #fd7200;
	--text-color: #eeeeee;
	--bg-color: #21252e;
	--component-bg-color: #272d3c;
	--border-color: #97979731;
}

:root {
	--shadows: 0 0 1em 0.25em rgba(0, 0, 0, 0.1);
}

::placeholder {
	color: var(--text-color);
}

::selection {
	color: var(--bg-color);
	background-color: var(--primary-color);
}
