button:not(.search-submit),
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn,
.button,
.social-sharing-module a {
	background: transparent;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:not(.search-submit),
main input[type="button"],
main input[type="reset"],
main input[type="submit"],
main nav.page-nav a,
main nav.page-nav span,
main .btn,
main .button,
main .social-sharing-module a,
main .contact-links ul li a,
.widget fieldset label {
	margin-bottom: 1em;
}

button:not(.search-submit),
main input[type="button"],
main input[type="reset"],
main input[type="submit"],
main nav.page-nav a,
main nav.page-nav span,
main .btn,
main .button,
main .social-sharing-module a,
main .contact-links ul li a,
.widget fieldset label,
.widget form.search-form {
	@include gradient-box(2px);

	&:hover {
		& svg {
			fill: var(--primary-color);
		}
	}
}

.btn,
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
main nav.page-nav a,
main nav.page-nav span {
	border: none;
	@include border(var(--border-color), var(--border-color), "all", 1px);

	&.active,
	&:active,
	&:hover,
	&:focus {
		@include border(var(--primary-color), var(--secondary), "all", 1px);
		svg {
			fill: var(--primary-color);
		}
	}
}

form.search-form button.search-submit {
	border: none;
}

.page-nav a,
.page-nav span,
.social-sharing-module a {
	background: transparent;
}

a.btn,
a.button,
.page-nav a,
.page-nav span,
.social-sharing-module a,
button[data-toggle] {
	margin: 0.25em;
	text-decoration: none;
}

.page-nav span.page-numbers.current,
button[data-toggle].active {
	color: var(--primary-color);
}

main .contact-links ul.works li a,
main .contact-links ul.networks li a {
	display: block;
	padding: 0.66em 0.75em 0.66em 0.75em;
	margin-bottom: 0.75rem;
}

main .contact-links ul.works li a img {
	width: 16px;
	height: 16px;
}

main .contact-links ul li a {
	display: inline-flex;
	align-items: center;
	width: auto;
	background-color: var(--component-bg-color);
	text-decoration: none;
	opacity: 1;
	border-bottom: 3px solid var(--border-color);

	img,
	svg {
		margin-right: 0.5rem;
	}

	&:hover {
		border-bottom: 3px solid var(--primary-color);
	}
}

.social-sharing-module > ul {
	display: flex;
	flex-flow: row wrap;
}

div.input button {
	float: right;
}
