header#masthead.site-header .wrapper {
	position: relative;
	padding-bottom: 1em;
}

header#masthead.site-header .site-branding {
	padding: 0.75em 0 1.5em 0;
	@include border(var(--primary-color), var(--secondary-color), "bottom", 6px);
}

header#masthead.site-header .site-title {
	margin: 0;
	font-size: 1.8310546875rem;
}

header#masthead.site-header .site-title a {
	text-decoration: none;
	color: var(--text-color);
	&:hover {
		color: var(--primary-color);
	}
}

@include breakpoint(md) {
	aside.widget-area {
		position: absolute;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		top: 0.5em;
		right: 2em;
		width: 50%;
	}
}
