header#masthead.site-header .wrapper {
	position: relative;
	padding-bottom: 1em;
}

header#masthead.site-header .site-branding {
	display: flex;
	padding: 0.75em 1em 1.5em 1em;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	@include border(var(--primary-color), var(--secondary-color), "bottom", 6px);
}

header#masthead.site-header .site-title {
	margin: 0;
	font-size: 1.8310546875rem;
}

header#masthead.site-header .site-title a {
	text-decoration: none;
	color: var(--text-color);
	&:hover {
		color: var(--primary-color);
	}
}

@include breakpoint(md) {
	aside.widget-area {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
	}
}
